{{$chapter := .Params.chapterID}}
{{$pageNum := int .File.BaseFileName}}
{{$dateStr := .Date.Format site.Params.dateFormat}}
{{$characters := .Params.characters}}
{{$alt := printf "%s comic page %d" .Title $pageNum}}
{{$hover := .Params.hover}}

{{$isFirstPageOfChapter := not .PrevInSection}}
{{$isLastPageOfChapter := not .NextInSection}}
{{$isSinglePageChapter := and $isFirstPageOfChapter $isLastPageOfChapter}}

{{$comicsImgDir := "img/comic"}}
{{$comicImgRaw := resources.GetMatch (printf "%s/%s_%03d*" $comicsImgDir $chapter $pageNum)}}
{{$comicThumbImgRaw := resources.GetMatch (printf "%s/%s_thumb*" $comicsImgDir $chapter)}}

{{return dict "chapter" $chapter "pageNum" $pageNum "dateStr" $dateStr "alt" $alt "hover" $hover "characters" $characters
"isFirstPageOfChapter" $isFirstPageOfChapter "isLastPageOfChapter" $isLastPageOfChapter
"isSinglePageChapter" $isSinglePageChapter "comicImgRaw" $comicImgRaw "comicThumbImgRaw" $comicThumbImgRaw}}
