{{define "main"}}
    {{$comics := partial "comicdata"}}

    <h1>{{.Title}}</h1>
    {{.Content}}
    {{range $comics.comicPages.Reverse}}
        {{$page := partial "pagedata" .}}
        {{if $page.isFirstPageOfChapter}}
            <h2><a class="archive-chapter-title" href="{{.Permalink}}" title="{{$page.dateStr}}">{{.Title}}</a></h2>
            <p>
        {{end}}
        <a class="archive-page-link" href="{{.Permalink}}" title="{{$page.dateStr}}">{{$page.pageNum}}</a>
        {{if $page.isLastPageOfChapter}}
            </p>
        {{end}}
    {{end}}
{{end}}
