{{define "main"}}
    {{$comics := partial "comic/get-all-comics.html"}}

    <h1>{{.Title}}</h1>
    {{.Content}}

    {{range $comics.comicPages.Reverse}}
        {{$page := partial "comic/get-comic-page.html" .}}
        {{if $page.isFirstPageOfChapter}}
            {{$imgThumb := $page.comicThumbImgRaw.Resize (printf "%dx %s" site.Params.comicThumbResizeWidth site.Params.imgFormat)}}
            <div class="row mb-3 gx-3">
            <div class="col-3">
                <a href="{{.Permalink}}">
                    <img class="img-fluid img-thumbnail archive-img-thumb" src="{{$imgThumb.Permalink}}"
                         alt="{{$page.alt}}" title="{{.Title}}"
                         width="{{$imgThumb.Width}}" height="{{$imgThumb.Height}}"/>
                </a>
            </div>
            <div class="col">
            <h2><a class="archive-chapter-title" href="{{.Permalink}}" title="{{$page.dateStr}}">{{.Title}}</a></h2>
            <p>
        {{end}}
        {{if not $page.isSinglePageChapter}}
            <a class="archive-page-link" href="{{.Permalink}}" title="{{$page.dateStr}}">{{$page.pageNum}}</a>
        {{end}}
        {{if $page.isLastPageOfChapter}}
            </p>
            </div>
            </div>
        {{end}}
    {{end}}
{{end}}
