{{$title := cond .IsHome (site.Title) (printf "%s • %s" .Title site.Title)}}
{{$author := site.Params.author.name}}
{{$description := .Description | default site.Params.description}}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{with $title}}<title>{{.}}</title>{{end}}
    {{with $author}}<meta name="author" content="{{.}}"/>{{end}}
    {{with $description}}<meta name="description" content="{{.}}"/>{{end}}

    {{partial "opengraph.html" .}}
    {{partial "twitter_cards.html" .}}

    <!-- Stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    {{$styles := resources.Get "scss/main.scss" | css.Sass | resources.Minify | resources.Fingerprint | resources.PostProcess}}
    <link rel="stylesheet" href="{{$styles.Permalink}}" media="screen">
</head>
