{{$comics := partial "comic-data"}}
{{$currPageIndex := partial "indexof" (dict "array" $comics.comicPages "targetElem" .)}}
{{$isFirstPage := eq $currPageIndex (sub $comics.numComics 1)}}
{{$isLastPage := eq $currPageIndex 0}}

{{$prevPage := index $comics.comicPages (add $currPageIndex 1)}}
{{$nextPage := index $comics.comicPages (sub $currPageIndex 1)}}

<div class="row justify-content-center gx-2">
    {{if $isFirstPage}}
        {{partial "comic-nav-btn" (dict "class" "first-page disabled" "content" "⟨⟨" "title" "First page")}}
        {{partial "comic-nav-btn" (dict "class" "prev-page disabled" "content" "⟨" "title" "Previous page")}}
    {{else}}
        {{partial "comic-nav-btn" (dict "class" "first-page" "content" "⟨⟨" "title" "First page" "href" $comics.firstPage.Permalink)}}
        {{partial "comic-nav-btn" (dict "class" "prev-page" "content" "⟨" "title" "Previous page" "href" $prevPage.Permalink)}}
    {{end}}

    <!-- Initialize random button href to "/" here. This avoids Safari bug where button appears black when setting its href via JavaScript. -->
    {{partial "comic-nav-btn" (dict "class" "random-page" "href" "/" "title" "Random page" "content" "∞")}}

    {{if $isLastPage}}
        {{partial "comic-nav-btn" (dict "class" "next-page disabled" "content" "⟩" "title" "Next page")}}
        {{partial "comic-nav-btn" (dict "class" "last-page disabled" "content" "⟩⟩" "title" "Last page")}}
    {{else}}
        {{partial "comic-nav-btn" (dict "class" "next-page" "content" "⟩" "title" "Next page" "href" $nextPage.Permalink)}}
        {{partial "comic-nav-btn" (dict "class" "last-page" "content" "⟩⟩" "title" "Last page" "href" $comics.lastPage.Permalink)}}
    {{end}}
</div>
