{{$comics := partial "comicdata"}}
{{$currPageIndex := partial "indexof" (dict "array" $comics.comicPages "targetElem" .)}}
{{$isFirstPage := eq $currPageIndex (sub $comics.numComics 1)}}
{{$isLastPage := eq $currPageIndex 0}}

{{$prevPage := index $comics.comicPages (add $currPageIndex 1)}}
{{$nextPage := index $comics.comicPages (sub $currPageIndex 1)}}

<div class="row justify-content-center gx-2">
    {{if $isFirstPage}}
        {{partial "comicnav_btn" (dict "id" "first-comic" "content" "⟨⟨" "title" "First page" "class" "disabled")}}
        {{partial "comicnav_btn" (dict "id" "prev-comic" "content" "⟨" "title" "Previous page" "class" "disabled")}}
    {{else}}
        {{partial "comicnav_btn" (dict "id" "first-comic" "content" "⟨⟨" "title" "First page" "href" $comics.firstPage.Permalink)}}
        {{partial "comicnav_btn" (dict "id" "prev-comic" "content" "⟨" "title" "Previous page" "href" $prevPage.Permalink)}}
    {{end}}

    {{partial "comicnav_btn" (dict "id" "random-comic" "href" "" "title" "Random page" "content" "∞")}}

    {{if $isLastPage}}
        {{partial "comicnav_btn" (dict "id" "next-comic" "content" "⟩" "title" "Next page" "class" "disabled")}}
        {{partial "comicnav_btn" (dict "id" "last-comic" "content" "⟩⟩" "title" "Last page" "class" "disabled")}}
    {{else}}
        {{partial "comicnav_btn" (dict "id" "next-comic" "content" "⟩" "title" "Next page" "href" $nextPage.Permalink)}}
        {{partial "comicnav_btn" (dict "id" "last-comic" "content" "⟩⟩" "title" "Last page" "href" $comics.lastPage.Permalink)}}
    {{end}}
</div>
