<div class="row justify-content-center gx-2">
    {{partial "comicnav_btn" (dict "id" "first-comic" "href" "" "title" "First comic" "content" "&lang;&lang;")}}
    {{partial "comicnav_btn" (dict "id" "prev-comic" "href" "" "title" "Previous comic" "content" "&lang;")}}
    {{partial "comicnav_btn" (dict "id" "random-comic" "href" "" "title" "Random comic" "content" "&infin;")}}
    {{partial "comicnav_btn" (dict "id" "next-comic" "href" "" "title" "Next comic" "content" "&rang;")}}
    {{partial "comicnav_btn" (dict "id" "last-comic" "href" "" "title" "Last comic" "content" "&rang;&rang;")}}
</div>
