<!DOCTYPE html>
<html lang="en">

{{block "head" .}}{{partial "head" .}}{{end}}

<body class="d-flex flex-column min-vh-100">
{{block "header" .}}{{partial "header" .}}{{end}}
<main class="my-4 my-sm-5 container">
    <div class="row justify-content-center">
        <div class="col col-md-11 col-lg-8 col-xl-7 col-xxl-6">
            {{block "main" .}}{{end}}
        </div>
    </div>
</main>
{{block "footer" .}}{{partial "footer" .}}{{end}}

{{block "tail" .}}{{partial "tail" .}}{{end}}
</body>
</html>